@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!--<p>Use this page to detail your site's privacy policy.</p>-->
<p>We'll never share your contact information with anyone else!</p>

<div class="text-right">
    <!-- AR -->
    <p />
    <a asp-controller="Home" asp-action="Index">Home</a>|<a asp-controller="Home" asp-action="Contact">Contact</a>|<a asp-controller="Home" asp-action="Privacy">Privacy</a>
    
    <!-- JG -->
    <p />
    <a asp-controller="Home" asp-action="Index" asp-route-id=@Model.Name> Back to parks</a>
</div>
